body {
    background: #eeeeee;
    color: #333333;
    margin: 0 auto;
}

#todoapp {
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
}

#todoapp h1 {
    text-align: center;
}

#todoapp input[type="text"] {
    width: 466px;
    font-size: 24px;
    line-height: 1.4em;
    padding: 6px;
}

#main {
    display: none;
}

.done {
    background-color: #babbbb;
}


#todoapp footer {
    display: none;
    margin: 0 -20px -20px -20px;
    overflow: hidden;
    color: #555555;
    background: #f4fce8;
    border-top: 1px solid #ededed;
    padding: 0 20px;
    line-height: 37px;
}

#clear-completed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px 1px;
    cursor: pointer;
}



#todo-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#todo-list li {

    position: relative;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
}


#todo-list li.done label {

    color: #777777;
    text-decoration: line-through;
}

#todo-list li .edit {
    display: none;
}
#todo-list li.editing {
    border-bottom: 1px solid #778899;
}

#todo-list li.editing .view {
    display: none;
}
#todo-list li.editing .edit {
    display: block;
    width: 444px;
    padding: 13px 15px 14px 20px;
    margin: 0;
}

#todo-list li.done label {
    color: #777777;
    text-decoration: line-through;
}

#todo-list .destroy {
    position: absolute;
    right: 5px;
    top: 20px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#todo-list li .edit_box {
    display: none;
}

#todo-list li  .editing {
    display: block;
}



#todo-list-done {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

#todo-list-done li {

    position: relative;
    font-size: 20px;
    border-bottom: 1px solid #cccccc;
}


#todo-list-done li.done label {

    color: #777777;
    text-decoration: line-through;
}

#todo-list-done li .edit {
    display: none;
}
#todo-list-done li.editing {
    border-bottom: 1px solid #778899;
}

#todo-list-done li.editing .view {
    display: none;
}
#todo-list-done li.editing .edit {
    display: block;
    width: 444px;
    padding: 13px 15px 14px 20px;
    margin: 0;
}

#todo-list-done li.done label {
    color: #777777;
    text-decoration: line-through;
}

#todo-list-done .destroy {
    position: absolute;
    right: 5px;
    top: 20px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#todo-list-done li .edit_box {
    display: none;
}

#todo-list-done li  .editing {
    display: block;
}

#new-data .hidden{
    visibility: hidden;
    height: 0;
    padding: 0 !important;
}

#new-data .focused{
    visibility: visible;
}

.strike{
    text-decoration: line-through;
}

#navbarSupportedContent h1 , .lead{
    /*color: rgba(0,0,0,.5);*/

}

.jumbotron h1{
    color: white;
}

#navbarSupportedContent span{
 margin-left: 500px !important;
}

.gradientColor{
    background: #117a8b;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand{
    color: #495057;
}

#share-btn{
    margin-right: 10px;
}

.jumbotron{

    padding: 2rem .5rem !important;
    padding-left: 200px !important;
    margin-bottom: .5rem !important;
    width: 1500px;
    padding-bottom: inherit;
    background-color: #117a8b !important;
}


li {
    list-style:none;
    background: url("/AdvancedServerCW2/images/wish.png") no-repeat left center;
    background-size: 70px;
    padding-left: 100px;
    padding-top: 10px;
}




input[type=checkbox] + label {
    display: block;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714  Claimed  ";
    border: 0.1em solid #46b396;
    border-radius: 0.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    padding-right: 10px;
    padding-bottom: 10px;
    width: auto;
    background-color: #28a745;
    border-color: #1e7e34;
    color: #ffffff;
}

.item-image{
    height: 150px !important;
    border: 1px solid #17a2b8 !important;
    border-radius: .75rem !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.item-image-overlay:hover .image  {
    opacity: 1;
}

.swal-modal {
    width: 100%;
    background-color: #6c757d;

}

.swal-footer {
     text-align: center;
}

.claimed-by{
    text-decoration: none !important;
    color: #bd2130 !important;
}